<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aki.photoeditor.udacity_capstone">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditImage"
            android:label="@string/title_activity_edit_image"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aki.photoeditor.udacity_capstone.MainActivity" />
        </activity>

        <provider
            android:name=".data.WallpaperProvider"
            android:authorities="com.aki.photoeditor.udacity_capstone" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aki.photoeditor.udacity_capstone.MainActivity" />
        </activity>
        <activity
            android:name=".AllWallpapers"
            android:label="@string/title_activity_manage_wallpapers"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aki.photoeditor.udacity_capstone.MainActivity" />
        </activity>
        <activity
            android:name=".ManageWallpaper"
            android:label="@string/title_activity_manage_wallpaper"
            android:parentActivityName=".AllWallpapers"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aki.photoeditor.udacity_capstone.AllWallpapers" />
        </activity>
        <activity
            android:name=".EditingComplete"
            android:label="@string/title_activity_editing_complete"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aki.photoeditor.udacity_capstone.EditingComplete" />
        </activity>

        <receiver android:name=".widget.WallpaperWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.aki.photoeditor.udacity_capstone.MainActivity.ACTION_DATA_UPDATED" />
                <action android:name="com.aki.photoeditor.udacity_capstone.ManageWallpaper.ACTION_DATA_DELETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/wallpaper_widget_info" />
        </receiver>
    </application>

</manifest>